    /**
     * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
     * https://cssreset.com/
     * Copyright 2012 Yahoo! Inc. All rights reserved.
     * http://yuilibrary.com/license/
     */
    /*
    	TODO will need to remove settings on HTML since we can't namespace it.
    	TODO with the prefix, should I group by selector or property for weight savings?
    */
    
    html {
        color: #000;
        background: #FFF;
        font-size:14px;
    }
    /*
    	TODO remove settings on BODY since we can't namespace it.
    */
    /*
    	TODO test putting a class on HEAD.
    		- Fails on FF.
    */
    
    body,
    div,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre,
    code,
    form,
    fieldset,
    legend,
    input,
    textarea,
    p,
    blockquote,
    th,
    td {
        margin: 0;
        padding: 0;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    fieldset,
    img {
        border: 0;
    }
    /*
    	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
    */
    
    address,
    caption,
    cite,
    code,
    dfn,
    em,
    strong,
    th,
    var {
        font-style: normal;
        font-weight: normal;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    caption,
    th {
        text-align: left;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 100%;
        font-weight: normal;
    }
    
    q:before,
    q:after {
        content: '';
    }
    
    abbr,
    acronym {
        border: 0;
        font-variant: normal;
    }
    /* to preserve line-height and selector appearance */
    
    sup {
        vertical-align: text-top;
    }
    
    sub {
        vertical-align: text-bottom;
    }
    
    input,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    /*to enable resizing for IE*/
    
    input,
    textarea,
    select {
        *font-size: 100%;
    }
    /*because legend doesn't inherit in IE */
    
    legend {
        color: #000;
    }
    /* YUI CSS Detection Stamp */
    
    #yui3-css-stamp.cssreset {
        display: none;
    }

/* 
=========================================================================
= FONT ==================================================================
=========================================================================
*/
    
/* 
=========================================================================
= BODY ==================================================================
=========================================================================
*/
    
    html {
        position: relative;
        height:100%;
    }
    
    body {
        min-height:100%;
        overflow-y: scroll;
        width: 100%;
        background-image: url("../img/nao.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right bottom;
    }
    
    input:focus {
        border: solid 1px #00003F;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .bg-primary {
        background-color:#154d8e !important;
    }

    .bg-secondary {
    }

    .btn-primary {
        font-weight: 800;
        text-align: center;
        text-decoration: none;
        border:1.5px solid #154d8e !important;
        border-radius:4px !important;
        color:#ffffff !important;
	    box-shadow:inset 0px 12px 0px 0px #62c0d6 !important;
    	background:linear-gradient(to bottom, #62c0d6 5%, #3a9dd1 100%) !important;
	    background-color:#62c0d6 !important;
	    border:1px solid #154d8e !important;
    	display:inline-block;
        transition: background-color 0.2s;
    }
    
    .btn-primary:hover {
	    background-color:#154d8e !important;
    }
    
    .btn-secondary {
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        background-color: transparent !important;
        border-color: #00003F;
        box-shadow: none;
        color: #00003F;
        transition: background-color 0.2s;
    }
    

/* 
=========================================================================
= HEADER ================================================================
=========================================================================
*/
    .site-header {
        width: 100%;
        height: 50px;
        position:fixed;
        background-color:rgba(0,0, 0, 0.8) !important;
        border-bottom:solid 1px #0fb2b4 !important;
        text-shadow:0 0 5px #0fb2b4,0 0 5px #0fb2b4;
        border-bottom:2px solid #000000;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        z-index:999;

    }
    
    .navbar {
        width: 100%;
        min-width: 576px;
        max-width: 800px;
        height: 50px;
        border: none;
    }
    
    .navbar-default {
        background-image: none;
    }
    

    .navbar-brand {
        padding: 0px 0px 0px 10px;
        height: 50px;
    }
    
    .navbar-brand .title {
        display: block;
        font-size: 15px;
        letter-spacing: 26px;
        line-height: 13px;
        padding-left:2px;
        margin-top: -5px;
        width: 100%;
    }
    
    .navbar-brand .sub-title {
        display: block;
        font-size: 30px;
        letter-spacing: 10px;
        line-height: 30px;
        width: 100%;
    }

    #mabi-clock{
        font-size:40px;
        line-height:40px;
        margin:-5px 10px 0px 0px;
    }

    #mabi-clock img {
        animation: rotate-anime 3s linear infinite;
        margin:5px 5px 0px 10px;
        filter: drop-shadow(0px 0px 10px rgba(15,178,180,0.8));
    }
    @keyframes rotate-anime {
        0%  {transform: rotate(0);}
        100%  {transform: rotate(360deg);}
    }
    
/* 
=========================================================================
= CONTENT ===============================================================#84f7f9
=========================================================================
*/

    .site-contents{
        height:100%;
        width: 100%;
        min-width: 576px;
        max-width: 800px;
        padding-top:50px;
    }

    .site-contents .card{
        border:1.5px solid #154d8e;
        border-radius:2px;
        color:#ffffff;
        background-color:transparent;
        text-shadow:0px 0px 4px #154d8e;
    }

    .site-contents .card .card-header
    {
        background-color:rgba(58,157,209,0.9);
        border-top:1.5px solid #62c0d6;
        border-right:1.5px solid #154d8e;
        border-bottom:1.5px solid #154d8e;
        border-left:1.5px solid #62c0d6;
        font-weight: bold;
    }
    .site-contents .card .card-footer,
    .site-contents .card .card-body{
        background-color:rgba(58,157,209,0.9);
        border-right:1.5px solid #154d8e;
        border-bottom:1.5px solid #154d8e;
        border-left:1.5px solid #62c0d6;
    }
    .site-contents .card button{
        background-color:transparent;
        border:1.5px solid #154d8e;
        color:#154d8e;
    }

    .site-contents .card .badge,
    .site-contents .card .alert {
        text-shadow:none;
    }

    .site-contents .nav-tabs{
        border-bottom:2px solid #154d8e !important;
        margin-bottom:10px;
    }
    .site-contents .nav-item{
        margin-right:5px;
    }
    .site-contents .nav-item a{
        border-top:1.5px solid #154d8e !important;
        border-right:1.5px solid #154d8e !important;
        border-bottom:none;
        border-left:1.5px solid #154d8e !important;
        background-color: #328cb6 !important;
        color:#ffffff !important;
        margin-top:5px;
        font-size:14px;
        padding:5px;

    }
    .site-contents .nav-item a:hover{
        background-color: #62c0d6 !important;
        color:#F4FF81 !important;
        margin-top:5px;
    }

/* 
=========================================================================
= FOOTER ================================================================
=========================================================================
*/
    
    .site-footer {
        height: 30px;
        width: 100%;
        bottom: 0;
    }
    
    .footer {
        background-color: rgba(0,0,0,0.1);
        width: 100%;
        max-width: 800px;
        min-width: 640px;
        margin-top: 20px;
        height: 30px;
        font-size: 12px;
        line-height:30px;
        text-align: center;
    }




/*
=========================================================================
= Loader ================================================================
=========================================================================
*/

.spinner {
  width: 40px;
  height: 40px;
  background-color: #00003F;

  margin: 300px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}